* {
  margin: 0;
  padding: 0;
}

div.spacer {
  display: inline-block;
  width: 100%;
  height: 300px;
}

img.folder {
  max-width: 250px;
}

div.desktop-roadmap {
  width: 100%;
  display: inline-block;
  margin-bottom: 10em;
}

div.desktop-roadmap .line {
  max-width: 80%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

div.desktop-roadmap .line .folder.shifted-right {
  padding-right: 150px;
}

div.desktop-roadmap .line .folder.shifted-left {
  padding-left: 250px;
}


div.desktop-roadmap .connector {
  background-color: black;
  width: 100%;
  height: 15px;
}

div.desktop-roadmap .vertical-connector-line {
  height: 350px;
  max-width: 80%;
  display: flex;
  align-items: flex-end;
  margin: auto;
  justify-content: flex-end;
}

div.desktop-roadmap .vertical-connector {
  background-color: black;
  width: 15px;
  height: 100%;
  margin-right: 265px;
  display: inline-block;
}

div.mobile-roadmap {
  display: none;
  flex-flow: column nowrap;
  max-width: 80%;
  align-items: center;
  margin: auto;
  margin-bottom: 5em;
}

div.mobile-roadmap .connector {
  width: 10px;
  height: 100px;
  background-color: black;
}

div.mobile-roadmap img.folder {
  width: 40%;
}

@media screen and (max-width: 1350px) {
  img.folder {
    max-width: 150px;
  }

  div.desktop-roadmap .line, div.desktop-roadmap .vertical-connector-line {
    max-width: 90%;
  }

  div.desktop-roadmap .connector {
    height: 10px;
  }

  div.desktop-roadmap .line .folder.shifted-right {
    padding-right: 110px;
  }

  div.desktop-roadmap .line .folder.shifted-left {
    padding-left: 250px;
  }

  div.desktop-roadmap .vertical-connector {
    width: 10px;
    margin-right: 185px;
  }
}

@media screen and (max-width: 850px) {
  div.desktop-roadmap {
    display: none;
  }
  div.mobile-roadmap {
    display: flex;
  }
  div.desktop-roadmap-container {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  div.mobile-roadmap div.connector {
    width: 6px;
  }
}


div.desktop-roadmap-container {
  margin: 0 auto;
  width: 80vw;
}

svg.roadmap {
  background-color: black;
  margin: auto;
}

svg.roadmap text.header {
  font-family: "Cooper Black", sans-serif;
  font-size: 1.5em;
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

svg.roadmap text.content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  transition: opacity 1s;
  opacity: 0;
  will-change: opacity;
}

svg.roadmap rect.fragment-container:hover + text + text.header,
svg.roadmap rect.fragment-container + text:hover + text.header,
text.header:hover {
  transform: translateY(-5px);
}

svg.roadmap rect.fragment-container:hover + text.content,
svg.roadmap text.content:hover {
  opacity: 1;
}
